Repository hashicorp/terraform-provider-vault, pull requests merged in 2020-09, with the labels that each got.

#856 resource/ssh_secret_backend_ca: detect misconfigured resource and remove from state
  vault/resource_ssh_secret_backend_ca.go
  vault/resource_ssh_secret_backend_ca_test.go
Labels: resource/ssh, size/M

#859 Add references to Learn tutorials
  website/docs/index.html.markdown
Labels: documentation, size/XS

#862 Fix AWS Secrets Role to allow IAM Groups only
  vault/resource_aws_secret_backend_role.go
  vault/resource_aws_secret_backend_role_test.go
Labels: size/XS

#825 Add `vault_quota_rate_limit` resource
  vault/provider.go
  vault/resource_quota_rate_limit.go
  vault/resource_quota_rate_limit_test.go
  website/docs/r/quota_rate_limit.md
  website/vault.erb
Labels: documentation, new-resource, size/XL

#855 Feature request 852
  vault/resource_gcp_secret_backend.go
  vault/resource_gcp_secret_backend_test.go
  website/docs/r/gcp_secret_backend.html.md
Labels: documentation, resource/gcp_secret, size/XS
