Repository hashicorp/terraform-provider-vault, pull requests merged in 2024-11, with the labels that each got.

#2226 auth/kubernetes: add support for use_annotations_as_alias_metadata field
  CHANGELOG.md
  vault/data_source_kubernetes_auth_backend_config.go
  vault/data_source_kubernetes_auth_backend_config_test.go
  vault/resource_kubernetes_auth_backend_config.go
  vault/resource_kubernetes_auth_backend_config_test.go
  website/docs/d/kubernetes_auth_backend_config.md
  website/docs/r/kubernetes_auth_backend_config.md
Labels: documentation, size/M

#2157 feat(pki): Add support for ACME configuration
  CHANGELOG.md
  internal/consts/consts.go
  vault/provider.go
  vault/resource_pki_secret_backend_config_acme.go
  vault/resource_pki_secret_backend_config_acme_test.go
  website/docs/r/pki_secret_backend_config_acme.html.md
  website/vault.erb
Labels: documentation, size/XL, pki, feature-parity, pki-enhancements

#1820 Add cn_validations property to pki_secret_backend_role
  CHANGELOG.md
  internal/consts/consts.go
  vault/resource_pki_secret_backend_role.go
  vault/resource_pki_secret_backend_role_test.go
  website/docs/r/pki_secret_backend_role.html.md
Labels: documentation, size/XS, pki

#2367 Add new resource vault_pki_secret_backend_acme_eab to manage ACME EAB tokens
  CHANGELOG.md
  internal/consts/consts.go
  vault/provider.go
  vault/resource_pki_secret_backend_acme_eab.go
  vault/resource_pki_secret_backend_acme_eab_test.go
  website/docs/r/pki_secret_backend_acme_eab.html.md
  website/vault.erb
Labels: pki, pki-enhancements
