Repository hashicorp/terraform-provider-vault, pull requests merged in 2025-03, with the labels that each got.

#1934 Add new resource to set PKI automatic tidy configuration
  CHANGELOG.md
  internal/consts/consts.go
  vault/provider.go
  vault/resource_pki_secret_backend_config_auto_tidy.go
  vault/resource_pki_secret_backend_config_auto_tidy_test.go
  website/docs/r/pki_secret_backend_config_auto_tidy.html.md
  website/vault.erb
Labels: size/XL, pki, pki-enhancements

#2429 Update pki_secret_backend_crl_config to be more resilent to unknown response fields
  CHANGELOG.md
  vault/resource_pki_secret_backend_crl_config.go
  vault/resource_pki_secret_backend_crl_config_test.go
Labels: pki

#2430 add docs for automated root rotation fields to secrets/auth engines
  website/docs/r/aws_auth_backend_client.html.md
  website/docs/r/aws_secret_backend.html.md
  website/docs/r/azure_auth_backend_config.html.md
  website/docs/r/azure_secret_backend.html.md
  website/docs/r/database_secret_backend_connection.md
  website/docs/r/database_secrets_mount.md
  website/docs/r/gcp_auth_backend.html.md
  website/docs/r/gcp_secret_backend.html.md
  website/docs/r/ldap_auth_backend.html.md
  website/docs/r/ldap_secret_backend.html.md
Labels: documentation
